/*
Program name: color.css
Author: Phat Le
Date created: 02/08/2026
Date last edited: 02/27/2026
Version: 1.1
Description: This is my first assignment for MIS 3371, where I use HTML and CSS to create a patient registration form for Aegis Medical. Captures demographic and medical information.
*/


body
  {
    background-color: #DCDCF7;
    font-family: Georgia, serif;
    color: #000;
  }

.aegis
  {  
    color: #004483;
  }
.medical
  {
    color: #C8102E;
  } 

h1
  {
    color: #0b3c6d;
  } 
h2
  {
    color: #000;
    text-align: left;
  }

.required
{
  color: #FF0000;
  font-weight: bold;
}

#banner 
  {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 3px solid #0b3c6d;
  } 

#banner img 
  {
    height: 70px;
    margin-right:20px;
  }

.form-table
  {
    width: 70%;
    margin-left: 20px;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
  }

.form-table td
  {
    vertical-align: top;
    padding: 2px 4px;
  }

input[type="text"],
input[type="email"],    
input[type="password"],
input[type="tel"],
input[type="date"],
textarea,
select
  {
    width:100%;
    padding:4px;
    background-color:#7fa9dd;
    border: 1px solid #333;
    box-sizing: border-box;
  }

textarea
  {
    resize: none;
  }

.buttons
  {
    text-align: left;
    padding-left: 0;
  }

input[type="submit"],
input[type="reset"],
button
  {
    padding: 6px 14px;
    background-color: #7a8793;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
  }
input[type="submit"]
  {
    background-color: #28A745;
  }
input[type="submit"]:hover
  {
    background-color: #218838;
  }
input[type="reset"]
 {
   background-color: #DC3545;
 }
input[type="reset"]:hover
  {
    background-color: #C82333;
  }
input[type="reset"]
  {
    margin-right: 10px;
  }

.fixed-textarea
  {
    width: 100%;
    height: 120px;
    resize: none;
    box-sizing: border-box;
  }

.reason-cell
  {
    padding-left: 40px;
  }
.section-title
{
  color: #191970;
}

#footer
  {
    margin-top: 30px;
    padding: 15px;
    text-align: center;
    background-color: #6f9cd6;
  }



