body
  {
    background-color: #F5F5F5;
    font-family: Georgia, serif;
    color: #000;
  }

.aegis
  {  
    color: #004483;
  }
.medical
  {
    color: #C8102E;
  } 

header1
  {
    color: #0b3c6d;
  } 
header2
  {
    color: #000;
    text-align: center;
  }

#banner 
  {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 3px solid #0b3c6d;
  } 

#banner img 
  {
    height: 70px;
    margin-right:20px;
  }

.form-table
  {
    width: 90%;
    margin: auto;
    border-spacing:10px;
  }

.form-table td
  {
    vertical-align: top;
  }

input[type="text"],
input[type="email"],    
input[type="password],
textarea,
select
  {
    width:100%;
    padding:6px;
    background-color:#7fa9dd;
    border: 1px solid #333;
    box-sizing: border-box;
  }

textarea
  {
    resize: none;
  }

.button
  {
    text-align: right;
  }

input[type="submit"],
input[type="restart"],
button
  {
    padding: 6px 14px;
    background-color: #7a8793;
    color: #fff;
    border: none;
    cursor: pointer;
  }

.fixed-textarea
  {
    width: 100%;
    height: 120px;
    resize: none;
    box-sizing: border-box;
  }

#footer
  {
    margin-top: 30px;
    padding: 15px;
    text-align: center;
    background-color: #f0f0f0;
  }



